[submodule "musashi/external/spdlog"]
	path = musashi/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "musashi/external/GLFW"]
	path = musashi/external/GLFW
	url = https://github.com/rohan37kumar/glfw
[submodule "musashi/external/imgui"]
	path = musashi/external/imgui
	url = https://github.com/rohan37kumar/imgui/
[submodule "musashi/external/glm"]
	path = musashi/external/glm
	url = https://github.com/g-truc/glm
